<div class="bg-white py-2 shadow">
  <div class="container mx-auto flex flex-wrap items-center px-4">
    <div class="w-full sm:w-1/5 text-center sm:text-left">
      <a routerLink="">
        <img src="logo.png" alt="logo" class="w-33 sm:w-36 mx-auto sm:mx-0" height="569" width="608"/>
      </a>
    </div>
    <div class="w-full sm:w-4/5 mt-2 sm:mt-0 text-center sm:text-left">
      <p class="text-4xl font-semibold text-gray-800 leading-tight">
        EKALAVYA MODEL RESIDENTIAL SCHOOL, SALADAHARA<br />
        <span class="text-2xl text-gray-600 italic">
          ଏକଲବ୍ୟ ମଡେଲ ଆବାସିକ ବିଦ୍ୟାଳୟ, ସାଲଦାହରା, ନୀଳଗିରି
        </span>
      </p>
    </div>
  </div>
</div>
