<div class="bg-gray-800 text-white text-sm py-2">
  <div class="container mx-auto flex flex-wrap justify-between items-center px-4">
    <ul class="flex space-x-3">
      <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
    </ul>
    <ul class="flex space-x-6">
      <li><a href="#"><fa-icon [icon]="faPhone" class="mr-1"></fa-icon> +91 91784 08864</a></li>
      <li><a href="#"><fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon> emrssaladahara.co.in</a></li>
    </ul>
  </div>
</div>
