<div class="bg-gray-800 text-white text-sm py-2">
  <div class="container mx-auto max-w-7xl flex flex-wrap justify-between items-center">
    <ul class="flex space-x-3">
      <li><a href="https://facebook.com" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
      <li><a href="https://twitter.com" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
      <li><a href="https://google.com" target="_blank"><fa-icon [icon]="faGooglePlusG"></fa-icon></a></li>
    </ul>
    <ul class="flex space-x-6">
      <li><a href="#"><fa-icon [icon]="faPhone" class="mr-1"></fa-icon> {{phoneNumber}}</a></li>
      <li><a href="#"><fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon> {{email}}</a></li>
    </ul>
  </div>
</div>
