<section class="bg-gray-50 py-12">
  <div class="container max-w-7xl mx-auto ">
    <div class="grid lg:grid-cols-3 gap-6">

      <!-- Notice Board -->
      <div class="lg:col-span-2 space-y-6">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex items-center justify-between border-b pb-4 mb-4">
            <div class="flex items-center space-x-4">
              <fa-icon [icon]="faBullhorn" class="text-blue-600 text-3xl"></fa-icon>
              <h2 class="text-xl font-semibold text-gray-800">Notice Board</h2>
            </div>
            <button
              routerLink="/notice"
              class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 transition duration-300 group"
            >
              More
              <fa-icon [icon]="faArrowRight" class="text-base transform group-hover:translate-x-1 transition duration-300"></fa-icon>
            </button>
          </div>
          <!-- Loader while fetching notices -->
          <ng-container *ngIf="isLoadingNotice; else showNotices">
            <ul class="space-y-2">
            <li class="flex items-center gap-2" *ngFor="let skeleton of skeletonArray">
              <div class="h-4 bg-gray-200 rounded w-3/4 animate-pulse"></div>
            </li>
            </ul>
          </ng-container>
          <ng-template #showNotices>
          <!-- Inside Notice Board -->
          <div class="overflow-hidden h-20 relative">
            <ul
              [ngClass]="{
      'absolute top-0 left-0 w-full space-y-4': true,
      'animate-ticker': notices.length > 1}">
              <li
                *ngFor="let notice of notices"
                class="flex items-center gap-2"
              >
                <p class="text-gray-700">{{ notice.message }}</p>
                <span
                  class="bg-red-500 text-white text-xs font-semibold px-2 py-0.5 rounded animate-pulse ml-2">NEW</span>
              </li>
            </ul>
          </div>
          </ng-template>
        </div>

        <!-- Lecture Notes -->
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex items-center justify-between border-b pb-4 mb-4">
            <div class="flex items-center space-x-4">
              <fa-icon [icon]="faBookOpen" class="text-green-600 text-3xl"></fa-icon>
              <h2 class="text-xl font-semibold text-gray-800">Lecture Notes</h2>
            </div>
            <button
              routerLink="/lecture-notes"
              class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 transition duration-300 group"
            >
              More
              <fa-icon [icon]="faArrowRight" class="text-base transform group-hover:translate-x-1 transition duration-300"></fa-icon>
            </button>
          </div>
          <!-- Loader while fetching notices -->
          <ng-container *ngIf="isLoadingNotes; else showNotes">
            <ul class="space-y-2">
              <li class="flex items-center gap-2" *ngFor="let skeleton of skeletonArray">
                <div class="h-4 bg-gray-200 rounded w-3/4 animate-pulse"></div>
              </li>
            </ul>
          </ng-container>
          <ng-template #showNotes>
          <div class="overflow-hidden h-20 relative">
            <ul
              [ngClass]="{
      'absolute top-0 left-0 w-full space-y-4': true,
      'animate-ticker': lectNotes.length > 1}">
              <li
                *ngFor="let note of lectNotes"
                class="flex items-center gap-2"
              >
                <p class="text-gray-700">{{ note.message }}</p>
                <span
                  class="bg-red-500 text-white text-xs font-semibold px-2 py-0.5 rounded animate-pulse ml-2">NEW</span>
              </li>
            </ul>
          </div>
          </ng-template>
        </div>
      </div>

      <!-- Tenders -->
      <div class="bg-white shadow rounded-lg p-6 h-90">
        <div class="flex items-center justify-between border-b pb-4 mb-4">
          <div class="flex items-center space-x-4">
            <fa-icon [icon]="faFileContract" class="text-yellow-600 text-3xl"></fa-icon>
            <h2 class="text-xl font-semibold text-gray-800">Tenders</h2>
          </div>
          <button
            routerLink="/tenders"
            class="inline-flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 transition duration-300 group"
          >
            More
            <fa-icon [icon]="faArrowRight" class="text-base transform group-hover:translate-x-1 transition duration-300"></fa-icon>
          </button>
        </div>
        <!-- Loader while fetching notices -->
        <ng-container *ngIf="isLoadingTender; else showTenders">
          <ul class="space-y-2">
            <li class="flex items-center gap-2" *ngFor="let skeleton of skeletonArray">
              <div class="h-4 bg-gray-200 rounded w-3/4 animate-pulse"></div>
            </li>
          </ul>
        </ng-container>
        <ng-template #showTenders>
        <div class="overflow-hidden h-[285px] relative">
          <ul
            [ngClass]="{
      'absolute top-0 left-0 w-full space-y-4': true,
      'animate-ticker': tenders.length > 1}">
            <li
              *ngFor="let tender of tenders"
              class="flex items-center gap-2"
            >
              <p class="text-gray-700">{{ tender.message }}</p>
              <span
                class="bg-red-500 text-white text-xs font-semibold px-2 py-0.5 rounded animate-pulse ml-2">NEW</span>
            </li>
          </ul>
        </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
