:host {
  display: block;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}

::ng-deep .line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}




